<!DOCTYPE html>
<html>
<head>
  <title>SimpleChat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>
<div id="content">
<%= yield %>
</div>
</body>
</html>
